#!/sbin/openrc-run

name=collector
command="/root/ws-stat/.env/bin/python"
command_args="/root/ws-stat/.env/serve.py"
#command_user="nobody"
pidfile="/run/collector.pid"
#start_stop_daemon_args="--args-for-start-stop-daemon"
command_background="yes"

depend() {
        need net
}

start_pre() {
        checkpath --directory --owner $command_user:$command_user --mode 0775 \
                /run/$RC_SVCNAME /var/log/$RC_SVCNAME
}
